{% extends 'base.html' %}

{% block titulo_conteudo %}  Formulário de Cliente: {% endblock titulo_conteudo %}

{% block conteudo %} 

    <form method = "post">
        {% csrf_token %}

        <!-- {% if form.errors > 1 %}
        <ul>
            {% for field, errors in form.errors.items %}
                <li>{{ field }}: {{ errors }}</li>
            {% endfor %}        
        </ul>
        {% endif %} -->

        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Enviar</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'lista_cliente' %}'">Voltar</button>
    </form>

{% endblock %}