{% extends 'base.html' %}

{% block titulo_conteudo %}

    Clientes

{% endblock titulo_conteudo %}

{% block conteudo %}
    <div class="barrabotoes">
        <button type="button" class="btn btn-success btn-sm" onclick="location.href='{% url 'form_cliente' %}'">Novo Cliente</button>
        <button type="button" class="btn btn-primary btn-sm" onclick="location.href='{% url 'lista_cliente' %}'">Recarregar</button>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">C.P.F</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in lista_cliente %}
            <tr>
                <td>{{cliente.id}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.cpf}}</td>
                <td>{{cliente.datanascimento}}</td>
                <td>
                    <button type="button" class="btn btn-info" onclick="location.href='{% url 'detalhes_cliente' cliente.id %}'">Detalhes</button>
                    <button type="button" class="btn btn-warning" onclick="location.href='{% url 'editar_cliente' cliente.id %}'">Alterar</button>
                    <button type="button" class="btn btn-danger" onclick="confirmClose('{% url 'remover_cliente' cliente.id %}', '{{ cliente.nome }}')">Excluir</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script> 
        function confirmClose(url, clienteNome) {
            const confirmar = confirm(`Confirme para excluir o Cliente "${clienteNome}"`); 
            if (confirmar) {
                window.location.href = url; 
            }
        }
    </script>
    
{% endblock conteudo %}